.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  width: 100%;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.cabecalho{
  font-size: 150%;
  color: #FFFFFF;
}

#map {
  height: 100vh;
}

.lista {
  width: 25%;
  height: 100%;
  background-color: #0101DF;
  z-index: 1;
  position: absolute;
  overflow-y: scroll;
  color: #FFFFFF;
}

.buscaitem {
  background-color: lightgrey;
  z-index: 10;
  padding: 10px;
  width: 80%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

a:hover {
  color: #FF0000;
}
