.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0px;
  bottom: 0px;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.cabecalho{
  top: 0;
  left: 0;
  width: 100%;
  background-color: #81BEF7;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.cabecalhologo{
  font-size: 2em;
  text-decoration: none;
  margin-right: 1rem;
  align-items: center;
}

.cabecalho label {
  cursor: pointer;
}

input#menu {
    display: none;
}

#map {
  height: 100vh;
}

.lista {
  width: 0;
  height: 100%;
  background-color: #0101DF;
  z-index: 200;
  position: fixed;
  overflow-y: scroll;
  color: #FFFFFF;
  top: 0;
  left: 0;
  text-align: center;
}

input:checked ~ .lista {
    width: 250px;
}

.lista ol{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buscaitem {
  background-color: lightgrey;
  z-index: 10;
  padding: 10px;
  width: 80%;
  font-size: 1.2rem;
}

.lista li{
  margin: 0.25rem 0;
}

.lista a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.lista a:hover {
  color: #FF0000;
}

@media screen and (max-width: 400px) {
  .cabecalhologo {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 350px) {
  .cabecalhologo {
    font-size: 1em;
  }
}

.erro{
  background-color: white;
  color: red;
}
